* {
    margin: 0;
    box-sizing: border-box;
}

header,
footer {
    border: 2px solid black;
    height: 150px;
    clear: both;
}

.one section {
    float: left;
    height: 250px;
    border: 2px solid black;
    width: 33.33%;
}

.two section {
    float: left;
    height: 350px;
    border: 2px solid black;
    width: 50%;
}