/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */

.extraExtraReadAllAboutIt h3 {
    color: blue;
    background-color: lightblue;
}

/* Please make "I like turtles." red */

#chunkyMilk h2 {
    color: red;
    background-color: lightgoldenrodyellow;
}

/* Please select "Hello, world!" with the highest level of specificity possible*/

html > body > section#rugratsWildThornberrysBestCrossOverAllTime > h2 {
    color: green;
    background-color: lightgreen;
}

/* Please select "Let's get down to business..." with the highest level of specificity possible */

html > body > section#chunkyMilk p.passTheRemote.turtles {
    color: orange;
    background-color: lavenderblush;
}