/* Box Model Hack */
* {
  box-sizing: border-box;
  text-align: center;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/

header *,
main {
  background: rgb(90, 90, 129);
  margin: 0em 0em;
  color: white;
}

header {
  padding-top: 3%;
  background: rgb(90, 90, 129);
}

header * {
  height: 55px;
  float: left;
  width: 33.333%;
  list-style-type: none;
  text-transform: uppercase;
}


header img {
  padding: 0 6em;
}


header a,
main a {
  color: white;
  text-decoration: none;
}

h1, h2, h3, .four a, .three a {
  text-transform: uppercase;
}

.sec {
  float: left;
  padding: 8% 15%;
}

.four a,
.three a {
  color: black;
  border: 1px solid black;
  padding: 10px 10px;
  text-decoration: none;
}

.three {
  background: lightgray;
}

.three section{
  float: left;
  width: 50%;
  padding: 0 10px;
}

.three *,
.four * {
  padding: 10px 0;
}

footer {
  background: rgb(9, 29, 32);
  width: 100%;
  float: left;
  height: 125px;
  color: white;
}

footer span {
  text-align: left;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
